* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 18px;
}

button {
    background-color: #ba0cc5;
    border: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    font-weight: 600;
}

/* Navbar Section */

section[aria-label='navbar'] {
    background-color: #000000;
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grow-list {
    position: relative;
    left: -12rem;
}

.grow-list .list {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.line {
    height: 50px;
    border-right: 2px solid #ffffff;
    position: relative;
    left: -6rem;
}

.button-small {
    padding: 7px 18px;
}

/* Hero Section */

section[aria-label='hero'] {
    min-height: 100vh;
    background-image: url(./assets/bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-heading {
    font-size: 4rem;
    margin-bottom: 30px;
}

.hero-description {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 70px;
}

.button-large {
    font-size: 26px;
    padding: 10px 25px;
}
